::-webkit-scrollbar {
  width: 11px;
  margin-bottom:10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 0px 0px 25px 25px;
  margin-bottom:15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
.App {
  text-align: center;
  background-color: #dadada;
  /* height: 100vh; */
  height: 100vh;
  overflow:hidden;
}
nav {
  background-color:#2d2d2d;
  padding:1%;
  text-align:center;
}
nav a{
  color:#ffffff;
  padding:1%;
  font-weight: bold;
  text-decoration: none;
}

.element {
  background-color:#2d2d2d;
  background-color: #323232;
  display:inline-block;
  background-color: #444444;
  color:#ffffff;
  width: 24vw;
  margin: 3%;
  border-radius:10px 10px 10px 10px;
  text-align:left;
}
h1{
  font-size: 18px;
  margin-bottom:0;
}
h2{
  font-size: 15px;
  margin-top:0;
  margin-bottom:0;
}
h3{
  margin-top:2%;
  font-size: 13px;
  opacity:0.7;
}

.mainBox{
  /* padding:.5%; */
  /* margin: 2%; */
  padding:0;
  margin:5%;
  margin-bottom:2%;
  /* background-color: white; */
}
.box {
  background-color: #353535;
  aspect-ratio : 1 / 1;
  width: 95%;

  text-align:center;
  border-radius: 10px;
  margin:0 auto;
}
.smallerBox{
  background-color:#323232;
  height: 28vh;
  display:block;
  border-radius: 0px 0px 10px 10px;
  overflow-y: scroll;
}
.boxy {
  border-bottom: 1px solid #dadada;
  padding: 0% 2% 2% 5%;
}
form {
  padding: 2% 2% 0% 5%;
  margin-bottom:5%;
}
form input{
  color:#ffffff;
  background-color: #353535;
}
#search {
  width: 80%;
  border:none;
  font-size:14px;
  border-radius:20px 0px 0px 20px;
  padding:10px 5px 10px 15px;
  color:#ffffff;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#ffffff;
  font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#ffffff;
  font-weight: bold;
}
#submit {
  width: 14%;
  border:none;
  background-color:#444444;
  color:#ffffff;
  padding: 14px 15px 12px 8px;
  border-radius: 0px 20px 20px 0px;
  font-size: 10px;
  font-weight:750;
  text-align: center;
  text-transform: uppercase;
}
#submit:hover{
  cursor:pointer;
  background-color:#353535;
}

.oval{
  aspect-ratio: 1/1;
  width:1.8vw;
  /* height:50px; */
  background-color:#444444;
  border-radius:100px;
  display:inline-block;
  /* display: block-inline; */
  float: left;
  margin-right:2%;
  margin-bottom:2vw;
}
.righter{
  /* display: inline-block; */
  vertical-align: top;
  /* background-color:yellow; */
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  /* width:90%; */
  /* color:yellow; */
  /* float:right; */
}
.righter p, .righter h4 {
  /* display:inline-block; */
}
.righter h4 {
  margin-top:2%;
  margin-bottom:1%;
}
.righter p {
  font-size: 11px;
  font-weight:600;
  margin-top:0;
  margin-bottom:1.5%;
}
